.product {
    overflow: hidden;
    padding-bottom: 10px;
    &_up {
        & p {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
            text-transform: uppercase;
            margin-top: 15px;
        }
        & span {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #787878;
            margin-top: 10px;
            text-transform: uppercase;
            display: inline-block;
        }
    }
    &_one {
        margin-top: 30px;
        &_img {
            background: #F2F2F2;
            box-shadow: 0px 2px 7px 0px #00000040;
            overflow: hidden;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_text {
            background: #8996A5;
            box-shadow: 0px 2px 7px 0px #00000040;
            padding: 30px 15px 10px 15px;
            border-radius: 15px;
            margin-top: 20px;
            & ul {
                & li {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    position: relative;
                    margin-top: 15px;
                    &:first-child {
                        margin-top: 0px;
                    }
                    & span {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 14px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #fff;
                        white-space: nowrap;
                        &.small {
                            width: 80px;
                            min-width: 80px;
                            overflow: hidden;
                        }
                    }
                    & .line {
                        width: 100%;
                        height: 2px;
                        background-color: #97A3B0;
                        margin: 0px 10px;
                    }
                }
            }
            &_size {
                margin-top: 20px;
                & h5 {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #fff;
                    text-transform: inherit;
                }
                &_wrap {
                    &_list {
                        display: flex;
                        align-items: stretch;
                        flex-wrap: wrap;
                        margin-top: 5px;
                        &_item {
                            background: #E7E7E7;
                            width: 35px;
                            height: 35px;
                            border-radius: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 10px;
                            margin-top: 10px;
                            &:last-child {
                                margin-right: 0px;
                            }
                            & span {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 22px;
                                letter-spacing: 0.02em;
                                text-align: center;
                                color: #404D5B;
                            }
                        }
                    }
                    & a {
                        width: 100%;
                        display: block;
                        text-transform: uppercase;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    &_two {
        display: flex;
        flex-direction: column;
        &_img {
            background: #F2F2F2;
            box-shadow: 0px 2px 7px 0px #00000040;
            overflow: hidden;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            order: 2;
            margin-top: 20px;
        }
        &_block {
            order: 1;
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
            position: relative;
            margin-top: 10px;
            &_item {
                width: calc(50% - 5px);
                margin-top: 10px;
                position: relative;
                overflow: hidden;
                border-radius: 15px;
                height: 140px;
                background: #8996A5;
                box-shadow: 0px 2px 7px 0px #00000040;
                & svg {
                    & path {
                        fill: #fff;
                    }
                }
                &:nth-child(2n) {
                    background: #DBE2EA;
                }
                & span {
                    display: none;
                }
                &:first-child {
                    & svg {
                        position: absolute;
                        left: -10px;
                        bottom: 16px;
                    }
                }
                &:nth-child(2) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:nth-child(3) {
                    & svg {
                        position: absolute;
                        left: -15px;
                        bottom: -5px;
                    }
                }
                &:nth-child(4) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    &_three {
        &_img {
            background: #F2F2F2;
            box-shadow: 0px 2px 7px 0px #00000040;
            overflow: hidden;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        &_text {
            display: none;
        }
    }
    &_four {
        &_img {
            background: #F2F2F2;
            box-shadow: 0px 2px 7px 0px #00000040;
            overflow: hidden;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        &_text {
            display: none;
        }
    }
    &_five {
        margin-top: 50px;
        &_img {
            box-shadow: 0px 2px 7px 0px #00000040;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
        }
        &_text {
            margin-top: 50px;
            & h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #404D5B;
            }
            &_list {
                margin-top: 30px;
                &_item {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    & img {
                        width: 42px;
                    }
                    & p {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #404D5B;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
    &_six {
        margin-top: 50px;
        margin-bottom: 50px;
        &_img {
            box-shadow: 0px 2px 7px 0px #00000040;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
        }
        &_text {
            margin-top: 50px;
            & h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #404D5B;
            }
            & p {
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0.02em;
                text-align: left;
                margin-top: 10px;
                display: none;
                color: #404D5B;
                &:first-child {
                    display: block;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
            & button {
                display: flex;
                align-items: center;
                margin-top: 30px;
                & span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #404D5B;
                }
                & img {
                    margin-left: 10px;
                }
            }
        }
    }
    &_mob {
        margin-top: 50px;
        &_effect {
            & h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #404D5B;
            }
            &_list {
                margin-top: 30px;
                &_item {
                    display: flex;
                    align-items: flex-start;
                    margin-top: 20px;
                    & img {
                        width: 42px;
                        min-width: 42px;
                    }
                    &_wrap {
                        margin-left: 10px;
                        & h4 {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 18px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #404D5B;
                        }
                        & p {
                            font-size: 12px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            text-align: left;
                            color: #404D5B;
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
        &_step {
            margin-top: 50px;
            &_item {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10px;
                height: 50px;
                border-radius: 15px;
                background: #8996A5;
                box-shadow: 0px 2px 7px 0px #00000040;
                & span {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }
                &:nth-child(2n) {
                    background: #F3A83F;
                    & span {
                        color: #404D5B;
                    }
                }
            }
        }
    }
    @media (min-width: 400px) {
        &_one {
            &_text {
                & ul {
                    & li {
                        & span {
                            &.small {
                                min-width: unset;
                                width: auto;
                                overflow: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            right: 0px;
            bottom: 10px;
            width: calc(50% + 348px);
            height: 90px;
            background: #8996A5;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            box-shadow: 0px 2px 7px 0px #00000040;
        }
        &_up {
            & p {
                font-size: 18px;
                line-height: 25px;
            }
            & span {
                font-size: 18px;
                line-height: 25px;
            }
        }
        &_one {
            &_text {
                padding: 30px;
                & ul {
                    & li {
                        & span {
                            font-size: 16px;
                            line-height: 16px;
                        }
                    }
                }
                &_size {
                    margin-top: 30px;
                    & h5 {
                        font-size: 16px;
                        line-height: 22px;
                    }
                    &_wrap {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        &_list {
                            &_item {
                                width: 60px;
                                height: 60px;
                                border-radius: 15px;
                                & span {
                                    font-size: 18px;
                                    line-height: 24px;
                                }
                            }
                        }
                        & a {
                            width: 292px;
                            min-width: 292px;
                        }
                    }
                }
            }
        }
        &_two {
            &_block {
                &_item {
                    height: 300px;
                    width: calc(25% - 15px);
                    & span {
                        display: block;
                        font-size: 17px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #fff;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 20px;
                    }
                    &:first-child {
                        & svg {
                            width: 164px;
                            height: 164px;
                            left: -38px;
                            bottom: 72px;
                        }
                    }
                    &:nth-child(2) {
                        & svg {
                            width: 186px;
                            height: 186px;
                            transform: translateX(-50px);
                        }
                    }
                    &:nth-child(3) {
                        & svg {
                            width: 164px;
                            height: 164px;
                            left: -26px;
                            bottom: 60px;
                        }
                    }
                    &:nth-child(4) {
                        & svg {
                            width: 181px;
                            height: 181px;
                            transform: translateX(-30px);
                        }
                    }
                }
            }
        }
        &_five {
            &_img {
                & img {
                    width: 100%;
                }
            }
            &_text {
                & h3 {
                    font-size: 30px;
                    line-height: 42px;
                }
                &_list {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    flex-wrap: wrap;
                    margin-top: 0px;
                    &_item {
                        width: 50%;
                        padding-right: 18px;
                        & img {
                            width: 70px;
                            min-width: 70px;
                        }
                        & p {
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
            }
        }
        &_six {
            &_img {
                & img {
                    width: 100%;
                }
            }
        }
        &_mob {
            &_effect {
                & h3 {
                    font-size: 30px;
                    line-height: 42px;
                }
                &_list {
                    &_item {
                        align-items: center;
                        & img {
                            width: 70px;
                            min-width: 70px;
                        }
                        &_wrap {
                            margin-left: 20px;
                            & h4 {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 24px;
                            }
                            & p {
                                font-size: 14px;
                                line-height: 19px;
                            }
                        }
                    }
                }
            }
            &_step {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 30px;
                &_item {
                    width: calc(50% - 10px);
                    margin-top: 20px;
                    height: 112px;
                    justify-content: flex-start;
                    padding: 0px 30px;
                    &:first-child {
                        order: 1;
                    }
                    &:nth-child(2) {
                        order: 3;
                    }
                    &:nth-child(3) {
                        order: 2;
                    }
                    &:nth-child(4) {
                        order: 4;
                    }
                    & span {
                        font-size: 25px;
                        line-height: 35px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    @media (min-width: 992px) {
        &::after {
            width: calc(50% + 427px);
        }
        &_one {
            &_text {
                &_size {
                    &_wrap {
                        flex-direction: row;
                        justify-content: space-between;
                        & a {
                            margin-top: 15px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1200px) {
        &::after {
            width: calc(50% + 459px);
        }
        &_one {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 50px;
            &_img {
                width: calc(50% - 10px);
            }
            &_text {
                width: calc(50% - 10px);
                margin-top: 0px;
                &_size {
                    &_wrap {
                        flex-direction: column;
                    }
                }
            }
        }
        &_two {
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
            margin-top: 20px;
            &_img {
                order: 1;
                width: calc(50% - 10px);
                margin-top: 0px;
            }
            &_block {
                order: 2;
                width: calc(50% - 10px);
                margin-top: 0px;
                &_item {
                    margin-top: 0px;
                    height: 100%;
                    &:first-child {
                        & svg {
                            left: -52px;
                            bottom: 100px;
                        }
                    }
                    &:nth-child(2) {
                        & svg {
                            position: absolute;
                            width: 166px;
                            height: 166px;
                        }
                    }
                    &:nth-child(3) {
                        & svg {
                            left: -46px;
                            bottom: 87px;
                        }
                    }
                    &:nth-child(4) {
                        & svg {
                            position: absolute;
                            width: 151px;
                            height: 151px;
                            transform: translateX(-30px);
                        }
                    }
                }
            }
        }
        &_three {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            margin-top: 20px;
            &_img {
                margin-top: 0px;
                width: calc(50% - 10px);
            }
            &_text {
                margin-left: 20px;
                width: calc(50% - 10px);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                & h3 {
                    font-size: 30px;
                    font-weight: 500;
                    line-height: 42px;
                    letter-spacing: 0.02em;
                    text-align: left;
                    color: #404D5B;
                }
                &_list {
                    &_item {
                        display: flex;
                        align-items: center;
                        margin-top: 30px;
                        &_wrap {
                            margin-left: 20px;
                            & h4 {
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 23px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: #404D5B;
                            }
                            & p {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0.02em;
                                text-align: left;
                                color: #404D5B;
                                margin-top: 5px;
                            }
                        }
                    }
                }
                
            }
        }
        &_four {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            margin-top: 20px;
            &_img {
                margin-top: 0px;
                width: calc(50% - 10px);
            }
            &_text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                margin-left: 20px;
                &_item {
                    width: 484px;
                    height: calc(25% - 66px/4);
                    background: #8996A5;
                    box-shadow: 0px 2px 7px 0px #00000040;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    padding-left: 50px;
                    & span {
                        font-size: 25px;
                        font-weight: 500;
                        line-height: 35px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: #fff;
                        text-transform: uppercase;
                    }
                    &:nth-child(2n) {
                        background: #F3A83F;
                        & span {
                            color: #404D5B;
                        }
                    }
                }
            }
        }
        &_five {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            margin-top: 20px;
            &_img {
                margin-top: 0px;
                width: calc(50% - 10px);
            }
            &_text {
                width: calc(50% - 10px);
                margin-top: 0px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &_six {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            margin-top: 20px;
            &_img {
                margin-top: 0px;
                width: calc(50% - 10px);
                & img {
                    object-fit: cover;
                }
            }
            &_text {
                width: calc(50% - 10px);
                margin-top: 0px;
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &_description {
                    & p {
                        display: block;
                    }
                }
                & button {
                    display: none;
                }
            }
        }
        &_mob {
            display: none;
        }
    }
    @media (min-width: 1400px) {
        &::after {
            width: calc(50% + 550px);
        }
        &_two {
            &_block {
                &_item {
                    &:first-child {
                        & svg {
                            bottom: 127px;
                        }
                    }
                    &:nth-child(3) {
                        & svg {
                            left: -26px;
                            bottom: 111px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1920px) {
        &::after {
            height: 130px;
        }
        &_one {
            &_text {
                &_size {
                    &_wrap {
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 20px;
                        &_list {
                            margin-top: 0px;
                        }
                        & a {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        &_two {
            &_block {
                &_item {
                    &:first-child {
                        & svg {
                            left: -20px;
                            bottom: 148px;
                        }
                    }
                    &:nth-child(2) {
                        & svg {
                            transform: translateX(0px);
                        }
                    }
                    &:nth-child(3) {
                        & svg {
                            left: -24px;
                            bottom: 142px;
                        }
                    }
                    &:nth-child(4) {
                        & svg {
                            transform: translateX(0px);
                        }
                    }
                    & span {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }
        &_three {
            &_text {
                padding-left: 60px;
                max-width: 455px;
            }
        }
        &_four {
            &_text {
                margin-left: 80px;
            }
        }
        &_five {
            &_text {
                padding-left: 60px;
                &_list {
                    margin-top: 20px;
                    &_item {
                        padding-right: 0px;
                        width: calc(50% - 25px);
                        margin-top: 30px;
                        & p {
                            font-size: 18px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        &_six {
            &_text {
                padding-left: 60px;
                & h3 {
                    font-size: 30px;
                    line-height: 42px;
                    margin-bottom: 40px;
                }
                &_description {
                    & p {
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
        }
    }
}